* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #f5f0e3;
}

h1 {
    color: darkslategrey;
    font-size: 1.5em;
    margin: 2em 1em 1em;
    text-align: center;
}

.listName {
    margin: 0 auto;
    padding: 2em 1em 1em;
    transition: 1s;
}

#listName {
    display: block;
    margin: 1em auto .3em;
    width: 70%;
    padding: 1em;
    border-radius: .3em;
    border: none;
    transition: 1s;
}

#listName::placeholder {
    color: #ff6f5e;
    text-align: center;
    font-size: 1.2em;
}

#listName:focus {
    outline: 0;
    transform: scale(1.1);
}

.addItemInput {
    display: block;
    margin: 1em auto .3em;
    width: 70%;
    padding: 1em;
    border-radius: .3em;
    border: none;
    transition: 1s;
}

.addItemInput::placeholder {
    color: #ff6f5e;
    text-align: center;
    font-size: 1.2em;
}

.addItemInput:focus {
    outline: 0;
}
.ul {
   margin: 3em auto;
   width: 90%;
   min-height: 33vh;

}

.li {
   list-style: none;
   margin: 1em;
   display: flex;
   justify-content: space-between;
}

.li:last-of-type {
    margin-bottom: 3em;
}

.up, .down, .delete {
    flex-direction: column;
    width: 1.5em;
    height: 1.5em;
    margin: .2em;
    text-align: center;
    color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .3em;
}

.buttons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    height: 1.5em;
    margin-left: 1em;
}

.up:focus, .down:focus, .delete:focus {
    outline: 0;
}

.up {
    background: #ff6f5e;
}

.down {
    background: #ff6f5e;
}

.delete {
    background: #f0134d;
    color: white;
}

.wrapper {
    position: relative;
    width: 100vw;
    margin: 0 auto;
}

.one {
    background: #f5f0e3;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 1s;
    /* display: none; */
}

.two {
    background: #f5f0e3;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    left: 25%;
}

.hide {
    padding: 1em;
    transition: 1s;
    /* display: none; */
    font-family: 'Nunito', sans-serif;
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: .3em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    background: #40bfc1;
    transition: 1s;
}

.hide:focus {
    outline: 0;
    transform: scale(1.1);
}

.add:focus {
    outline: 0;
}

.add  {
    padding: 1em;
    transition: 1s;
    /* display: none; */
    font-family: 'Nunito', sans-serif;
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: .3em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    background: #40bfc1;
    transition: 1s;
}

.unhide {
    padding: 1em;
    transition: 1s;
    /* display: none; */
    font-family: 'Nunito', sans-serif;
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: .3em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    background: #ff6f5e;
    transition: 1s;
    color: white;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 50em;
    }

    #listName, .addItemInput {
        margin: 3em auto;
        padding: 1.6em;
        font-size: 1.3em;
    }

    .hide, .add, .unhide {
        padding: 2em;
    }

    .li {
        font-size: 1.5em;
    }

    .listName, h1 {
        font-size: 2em;
    }


}