//=========================================//
//===============Colors===================//
//========================================//


$white                      :       white;
$bg-primary-color           :       #f5f0e3;
$text-primary-color         :       darkslategrey;
$bg-text-secondary-color    :       #ff6f5e;
$delete-color               :       #f0134d;
$ok-add-btn-color           :       #40bfc1;


//=========================================//
//=================Fonts==================//
//========================================//

$font-primary     :     'Nunito', sans-serif;

//=========================================//
//=============Break Points===============//
//========================================//

$brk-m      :     '(min-width: 768px)';


